INSERT INTO "items" VALUES (1,'Plex','#161b1f','icons/plex.png','http://plex.{{ domain_name }}',NULL,1,0,NULL,'2019-01-12 14:46:52','2019-01-12 14:46:52',0,1,'\App\SupportedApps\Plex\Plex');
INSERT INTO "items" VALUES (2,'Deluge','#161b1f','icons/deluge.png','http://deluge.{{ domain_name }}','{"enabled":true,"override_url":null,"password":"deluge"}',1,0,NULL,'2019-01-12 16:54:40','2019-01-12 16:54:40',0,1,'\App\SupportedApps\Deluge\Deluge');
INSERT INTO "items" VALUES (3,'Jackett','#fafbfc','icons/jackett.png','http://jackett.{{ domain_name }}/UI/Dashboard',NULL,1,0,NULL,'2019-01-12', '16:55:13,2019-01-12 16:58:42',0,1,'\App\SupportedApps\Jackett\Jackett');
INSERT INTO "items" VALUES (4,'Radarr','#161b1f','icons/radarr.png','http://radarr.{{ domain_name }}','{"enabled":false,"override_url":null,"apikey":null}',1,0,NULL,'2019-01-12 16:56:10','2019-01-12 16:59:07',0,1,'\App\SupportedApps\Radarr\Radarr');
INSERT INTO "items" VALUES (5,'Sonarr','#161b1f','icons/sonarr.png','http://sonarr.{{ domain_name }}','{"enabled":false,"override_url":null,"apikey":null}',1,0,NULL,'2019-01-12 16:56:32','2019-01-12 16:56:32',0,1,'\App\SupportedApps\Sonarr\Sonarr');
INSERT INTO "items" VALUES (6,'Seafile','#fafbfc','icons/nextcloud.png','http://seafile.{{ domain_name }}/',NULL,1,0,NULL,'2019-01-12 16:57:35','2019-01-12 16:58:22',0,1,'\App\SupportedApps\Nextcloud\Nextcloud');
INSERT INTO "items" VALUES (7,'Netdata','#161b1f','icons/netdata.png','http://netdata.{{ domain_name }}',NULL,1,0,NULL,'2019-01-12 16:59:53','2019-01-12 16:59:53',0,1,'\App\SupportedApps\Netdata\Netdata');
