{
    "bindAddress": "*",
    "port": 8989,
    "sslPort": 9898,
    "enableSsl": false,
    "launchBrowser": true,
    "authenticationMethod": "basic",
    "analyticsEnabled": true,
    "username": "{{ sonarr_web_username }}",
    "password": "{{ sonarr_web_username }}",
    "logLevel": "Info",
    "branch": "master",
    "apiKey": "{{ sonarr_api_key.matches.0.ApiKey }}",
    "sslCertHash": "",
    "urlBase": "",
    "updateAutomatically": false,
    "updateMechanism": "builtIn",
    "updateScriptPath": "",
    "proxyEnabled": false,
    "proxyType": "http",
    "proxyHostname": "",
    "proxyPort": 8080,
    "proxyUsername": "",
    "proxyPassword": "",
    "proxyBypassFilter": "",
    "proxyBypassLocalAddresses": true,
    "id": 1
}