{
    "bindAddress": "*",
    "port": 7878,
    "sslPort": 9898,
    "enableSsl": false,
    "launchBrowser": true,
    "authenticationMethod": "basic",
    "analyticsEnabled": true,
    "logLevel": "Info",
    "branch": "develop",
    "apiKey": "{{ radarr_api_key }}",
    "sslCertHash": "",
    "urlBase": "",
    "updateAutomatically": false,
    "updateMechanism": "builtIn",
    "updateScriptPath": "",
    "proxyEnabled": false,
    "proxyType": "http",
    "proxyHostname": "",
    "proxyPort": 8080,
    "proxyUsername": "",
    "proxyPassword": "",
    "proxyBypassFilter": "",
    "proxyBypassLocalAddresses": true,
    "id": 1,
    "username": "{{ radarr_web_username }}",
    "password": "{{ radarr_web_password }}"
}