{
   "enableRss":true,
   "enableSearch":true,
   "supportsRss":true,
   "supportsSearch":true,
   "protocol":"usenet",
   "name":"Jackett",
   "fields":[
      {
         "order":0,
         "name":"BaseUrl",
         "label":"URL",
         "value":"{{ jackett_url }}/api/v2.0/indexers/all/results/torznab/",
         "type":"textbox",
         "advanced":false
      },
      {
         "order":1,
         "name":"MultiLanguages",
         "label":"Multi Languages",
         "helpText":"What languages are normally in a multi release on this indexer?",
         "type":"tag",
         "advanced":true,
         "selectOptions":[
            {
               "value":-1,
               "name":"Any"
            },
            {
               "value":9,
               "name":"Cantonese"
            },
            {
               "value":24,
               "name":"Czech"
            },
            {  
               "value":6,
               "name":"Danish"
            },
            {  
               "value":7,
               "name":"Dutch"
            },
            {  
               "value":1,
               "name":"English"
            },
            {  
               "value":16,
               "name":"Finnish"
            },
            {  
               "value":19,
               "name":"Flemish"
            },
            {  
               "value":2,
               "name":"French"
            },
            {  
               "value":4,
               "name":"German"
            },
            {  
               "value":20,
               "name":"Greek"
            },
            {  
               "value":23,
               "name":"Hebrew"
            },
            {  
               "value":22,
               "name":"Hungarian"
            },
            {  
               "value":5,
               "name":"Italian"
            },
            {  
               "value":8,
               "name":"Japanese"
            },
            {  
               "value":21,
               "name":"Korean"
            },
            {  
               "value":10,
               "name":"Mandarin"
            },
            {  
               "value":15,
               "name":"Norwegian"
            },
            {  
               "value":12,
               "name":"Polish"
            },
            {  
               "value":18,
               "name":"Portuguese"
            },
            {  
               "value":11,
               "name":"Russian"
            },
            {  
               "value":3,
               "name":"Spanish"
            },
            {  
               "value":14,
               "name":"Swedish"
            },
            {  
               "value":17,
               "name":"Turkish"
            },
            {  
               "value":0,
               "name":"Unknown"
            },
            {  
               "value":13,
               "name":"Vietnamese"
            }
         ],
         "value":""
      },
      {  
         "order":2,
         "name":"ApiKey",
         "label":"API Key",
         "type":"textbox",
         "advanced":false,
         "value":"{{ jackett_api_key.user_input }}"
      },
      {  
         "order":3,
         "name":"Categories",
         "label":"Categories",
         "helpText":"Comma Separated list, leave blank to disable all categories",
         "value":[  
            2000,
            2010,
            2020,
            2030,
            2035,
            2040,
            2045,
            2050,
            2060
         ],
         "type":"textbox",
         "advanced":true
      },
      {  
         "order":4,
         "name":"AnimeCategories",
         "label":"Anime Categories",
         "helpText":"Comma Separated list, leave blank to disable anime",
         "value":[  

         ],
         "type":"textbox",
         "advanced":true
      },
      {  
         "order":5,
         "name":"AdditionalParameters",
         "label":"Additional Parameters",
         "helpText":"Additional Newznab parameters",
         "type":"textbox",
         "advanced":true
      },
      {  
         "order":6,
         "name":"RemoveYear",
         "label":"Remove year from search string",
         "helpText":"Should Radarr remove the year after the title when searching this indexer?",
         "value":false,
         "type":"checkbox",
         "advanced":true
      },
      {  
         "order":7,
         "name":"SearchByTitle",
         "label":"Search by Title",
         "helpText":"By default, Radarr will try to search by IMDB ID if your indexer supports that. However, some indexers are not very good at tagging their releases correctly, so you can force Radarr to search that indexer by title instead.",
         "value":false,
         "type":"checkbox",
         "advanced":true
      },
      {  
         "order":8,
         "name":"MinimumSeeders",
         "label":"Minimum Seeders",
         "helpText":"Minimum number of seeders required.",
         "value":1,
         "type":"textbox",
         "advanced":true
      },
      {  
         "order":9,
         "name":"RequiredFlags",
         "label":"Required Flags",
         "helpText":"What indexer flags are required?",
         "helpLink":"https://github.com/Radarr/Radarr/wiki/Indexer-Flags#1-required-flags",
         "type":"tag",
         "advanced":true,
         "selectOptions":[  
            {  
               "value":64,
               "name":"AHD_Internal"
            },
            {  
               "value":4,
               "name":"G_DoubleUpload"
            },
            {  
               "value":1,
               "name":"G_Freeleech"
            },
            {  
               "value":512,
               "name":"G_Freeleech25"
            },
            {  
               "value":256,
               "name":"G_Freeleech75"
            },
            {  
               "value":2,
               "name":"G_Halfleech"
            },
            {  
               "value":128,
               "name":"G_Scene"
            },
            {  
               "value":32,
               "name":"HDB_Internal"
            },
            {  
               "value":16,
               "name":"PTP_Approved"
            },
            {  
               "value":8,
               "name":"PTP_Golden"
            }
         ],
         "value":""
      }
   ],
   "implementationName":"Torznab",
   "implementation":"Torznab",
   "configContract":"TorznabSettings",
   "infoLink":"https://github.com/Radarr/Radarr/wiki/Supported-Indexers#torznab",
   "presets":[  
      {  
         "enableRss":false,
         "enableSearch":false,
         "supportsRss":true,
         "supportsSearch":true,
         "protocol":"usenet",
         "name":"Jackett",
         "fields":[  
            {  
               "order":0,
               "name":"BaseUrl",
               "label":"URL",
               "value":"http://jackett.daydreamnation.fr/api/v2.0/indexers/all/results/torznab/",
               "type":"textbox",
               "advanced":false
            },
            {  
               "order":1,
               "name":"MultiLanguages",
               "label":"Multi Languages",
               "helpText":"What languages are normally in a multi release on this indexer?",
               "type":"tag",
               "advanced":true,
               "selectOptions":[  
                  {  
                     "value":-1,
                     "name":"Any"
                  },
                  {  
                     "value":9,
                     "name":"Cantonese"
                  },
                  {  
                     "value":24,
                     "name":"Czech"
                  },
                  {  
                     "value":6,
                     "name":"Danish"
                  },
                  {  
                     "value":7,
                     "name":"Dutch"
                  },
                  {  
                     "value":1,
                     "name":"English"
                  },
                  {  
                     "value":16,
                     "name":"Finnish"
                  },
                  {  
                     "value":19,
                     "name":"Flemish"
                  },
                  {  
                     "value":2,
                     "name":"French"
                  },
                  {  
                     "value":4,
                     "name":"German"
                  },
                  {  
                     "value":20,
                     "name":"Greek"
                  },
                  {  
                     "value":23,
                     "name":"Hebrew"
                  },
                  {  
                     "value":22,
                     "name":"Hungarian"
                  },
                  {  
                     "value":5,
                     "name":"Italian"
                  },
                  {  
                     "value":8,
                     "name":"Japanese"
                  },
                  {  
                     "value":21,
                     "name":"Korean"
                  },
                  {  
                     "value":10,
                     "name":"Mandarin"
                  },
                  {  
                     "value":15,
                     "name":"Norwegian"
                  },
                  {  
                     "value":12,
                     "name":"Polish"
                  },
                  {  
                     "value":18,
                     "name":"Portuguese"
                  },
                  {  
                     "value":11,
                     "name":"Russian"
                  },
                  {  
                     "value":3,
                     "name":"Spanish"
                  },
                  {  
                     "value":14,
                     "name":"Swedish"
                  },
                  {  
                     "value":17,
                     "name":"Turkish"
                  },
                  {  
                     "value":0,
                     "name":"Unknown"
                  },
                  {  
                     "value":13,
                     "name":"Vietnamese"
                  }
               ],
               "value":""
            },
            {  
               "order":2,
               "name":"ApiKey",
               "label":"API Key",
               "type":"textbox",
               "advanced":false,
               "value":"rjmek14r37mirl8uo0tck9c5zq282vgl"
            },
            {  
               "order":3,
               "name":"Categories",
               "label":"Categories",
               "helpText":"Comma Separated list, leave blank to disable all categories",
               "value":[  
                  2000,
                  2010,
                  2020,
                  2030,
                  2035,
                  2040,
                  2045,
                  2050,
                  2060
               ],
               "type":"textbox",
               "advanced":true
            },
            {  
               "order":4,
               "name":"AnimeCategories",
               "label":"Anime Categories",
               "helpText":"Comma Separated list, leave blank to disable anime",
               "value":[  

               ],
               "type":"textbox",
               "advanced":true
            },
            {  
               "order":5,
               "name":"AdditionalParameters",
               "label":"Additional Parameters",
               "helpText":"Additional Newznab parameters",
               "type":"textbox",
               "advanced":true
            },
            {  
               "order":6,
               "name":"RemoveYear",
               "label":"Remove year from search string",
               "helpText":"Should Radarr remove the year after the title when searching this indexer?",
               "value":false,
               "type":"checkbox",
               "advanced":true
            },
            {  
               "order":7,
               "name":"SearchByTitle",
               "label":"Search by Title",
               "helpText":"By default, Radarr will try to search by IMDB ID if your indexer supports that. However, some indexers are not very good at tagging their releases correctly, so you can force Radarr to search that indexer by title instead.",
               "value":false,
               "type":"checkbox",
               "advanced":true
            },
            {  
               "order":8,
               "name":"MinimumSeeders",
               "label":"Minimum Seeders",
               "helpText":"Minimum number of seeders required.",
               "value":1,
               "type":"textbox",
               "advanced":true
            },
            {  
               "order":9,
               "name":"RequiredFlags",
               "label":"Required Flags",
               "helpText":"What indexer flags are required?",
               "helpLink":"https://github.com/Radarr/Radarr/wiki/Indexer-Flags#1-required-flags",
               "type":"tag",
               "advanced":true,
               "selectOptions":[  
                  {  
                     "value":64,
                     "name":"AHD_Internal"
                  },
                  {  
                     "value":4,
                     "name":"G_DoubleUpload"
                  },
                  {  
                     "value":1,
                     "name":"G_Freeleech"
                  },
                  {  
                     "value":512,
                     "name":"G_Freeleech25"
                  },
                  {  
                     "value":256,
                     "name":"G_Freeleech75"
                  },
                  {  
                     "value":2,
                     "name":"G_Halfleech"
                  },
                  {  
                     "value":128,
                     "name":"G_Scene"
                  },
                  {  
                     "value":32,
                     "name":"HDB_Internal"
                  },
                  {  
                     "value":16,
                     "name":"PTP_Approved"
                  },
                  {  
                     "value":8,
                     "name":"PTP_Golden"
                  }
               ],
               "value":""
            }
         ],
         "implementation":"Torznab",
         "configContract":"TorznabSettings",
         "infoLink":"https://github.com/Radarr/Radarr/wiki/Supported-Indexers#torznab"
      },
      {  
         "enableRss":false,
         "enableSearch":false,
         "supportsRss":true,
         "supportsSearch":true,
         "protocol":"usenet",
         "name":"HD4Free.xyz",
         "fields":[  
            {  
               "order":0,
               "name":"BaseUrl",
               "label":"URL",
               "value":"http://hd4free.xyz",
               "type":"textbox",
               "advanced":false
            },
            {  
               "order":1,
               "name":"MultiLanguages",
               "label":"Multi Languages",
               "helpText":"What languages are normally in a multi release on this indexer?",
               "type":"tag",
               "advanced":true,
               "selectOptions":[  
                  {  
                     "value":-1,
                     "name":"Any"
                  },
                  {  
                     "value":9,
                     "name":"Cantonese"
                  },
                  {  
                     "value":24,
                     "name":"Czech"
                  },
                  {  
                     "value":6,
                     "name":"Danish"
                  },
                  {  
                     "value":7,
                     "name":"Dutch"
                  },
                  {  
                     "value":1,
                     "name":"English"
                  },
                  {  
                     "value":16,
                     "name":"Finnish"
                  },
                  {  
                     "value":19,
                     "name":"Flemish"
                  },
                  {  
                     "value":2,
                     "name":"French"
                  },
                  {  
                     "value":4,
                     "name":"German"
                  },
                  {  
                     "value":20,
                     "name":"Greek"
                  },
                  {  
                     "value":23,
                     "name":"Hebrew"
                  },
                  {  
                     "value":22,
                     "name":"Hungarian"
                  },
                  {  
                     "value":5,
                     "name":"Italian"
                  },
                  {  
                     "value":8,
                     "name":"Japanese"
                  },
                  {  
                     "value":21,
                     "name":"Korean"
                  },
                  {  
                     "value":10,
                     "name":"Mandarin"
                  },
                  {  
                     "value":15,
                     "name":"Norwegian"
                  },
                  {  
                     "value":12,
                     "name":"Polish"
                  },
                  {  
                     "value":18,
                     "name":"Portuguese"
                  },
                  {  
                     "value":11,
                     "name":"Russian"
                  },
                  {  
                     "value":3,
                     "name":"Spanish"
                  },
                  {  
                     "value":14,
                     "name":"Swedish"
                  },
                  {  
                     "value":17,
                     "name":"Turkish"
                  },
                  {  
                     "value":0,
                     "name":"Unknown"
                  },
                  {  
                     "value":13,
                     "name":"Vietnamese"
                  }
               ]
            },
            {  
               "order":2,
               "name":"ApiKey",
               "label":"API Key",
               "type":"textbox",
               "advanced":false
            },
            {  
               "order":3,
               "name":"Categories",
               "label":"Categories",
               "helpText":"Comma Separated list, leave blank to disable all categories",
               "value":[  
                  2000,
                  2010,
                  2020,
                  2030,
                  2035,
                  2040,
                  2045,
                  2050,
                  2060
               ],
               "type":"textbox",
               "advanced":true
            },
            {  
               "order":4,
               "name":"AnimeCategories",
               "label":"Anime Categories",
               "helpText":"Comma Separated list, leave blank to disable anime",
               "value":[  

               ],
               "type":"textbox",
               "advanced":true
            },
            {  
               "order":5,
               "name":"AdditionalParameters",
               "label":"Additional Parameters",
               "helpText":"Additional Newznab parameters",
               "type":"textbox",
               "advanced":true
            },
            {  
               "order":6,
               "name":"RemoveYear",
               "label":"Remove year from search string",
               "helpText":"Should Radarr remove the year after the title when searching this indexer?",
               "value":false,
               "type":"checkbox",
               "advanced":true
            },
            {  
               "order":7,
               "name":"SearchByTitle",
               "label":"Search by Title",
               "helpText":"By default, Radarr will try to search by IMDB ID if your indexer supports that. However, some indexers are not very good at tagging their releases correctly, so you can force Radarr to search that indexer by title instead.",
               "value":false,
               "type":"checkbox",
               "advanced":true
            },
            {  
               "order":8,
               "name":"MinimumSeeders",
               "label":"Minimum Seeders",
               "helpText":"Minimum number of seeders required.",
               "value":1,
               "type":"textbox",
               "advanced":true
            },
            {  
               "order":9,
               "name":"RequiredFlags",
               "label":"Required Flags",
               "helpText":"What indexer flags are required?",
               "helpLink":"https://github.com/Radarr/Radarr/wiki/Indexer-Flags#1-required-flags",
               "type":"tag",
               "advanced":true,
               "selectOptions":[  
                  {  
                     "value":64,
                     "name":"AHD_Internal"
                  },
                  {  
                     "value":4,
                     "name":"G_DoubleUpload"
                  },
                  {  
                     "value":1,
                     "name":"G_Freeleech"
                  },
                  {  
                     "value":512,
                     "name":"G_Freeleech25"
                  },
                  {  
                     "value":256,
                     "name":"G_Freeleech75"
                  },
                  {  
                     "value":2,
                     "name":"G_Halfleech"
                  },
                  {  
                     "value":128,
                     "name":"G_Scene"
                  },
                  {  
                     "value":32,
                     "name":"HDB_Internal"
                  },
                  {  
                     "value":16,
                     "name":"PTP_Approved"
                  },
                  {  
                     "value":8,
                     "name":"PTP_Golden"
                  }
               ]
            }
         ],
         "implementation":"Torznab",
         "configContract":"TorznabSettings",
         "infoLink":"https://github.com/Radarr/Radarr/wiki/Supported-Indexers#torznab"
      }
   ]
}